/* Global box sizing */
* {
  box-sizing: border-box;
}

/* Page base style */
body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #dcdcdc;       /* Light grey background color */
}

/* Header:Big title and Nav links */
header {
  text-align: center;
  padding: 20px 0 10px;
}

h1 {
  font-size: 72px;                
  font-weight: bold;
  margin: 0 0 10px;
}

/* Top Navigation links */
nav a {
  margin: 0 20px;
  text-decoration: underline;
  color: blue;
}

/* Main Layout width */
main {
  max-width: 1100px;
  margin: 0 auto 40px;
}

/* Intro section:Text left,Image right using Flexbox */
.intro {
  display: flex;                   /* FLEXBOX */
  align-items: flex-start;
  gap: 40px;
}

/* Text block on the left */
.intro-text {
  flex: 2;
  background-color: #e5e5e5;
  padding: 10px;
}

/* Image on the right */
.intro-image {
  flex: 1;
  margin: 0;
}

.intro-image img {
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

/* Gallery section  */
.gallery {
  margin-top: 30px;
}

/* Media grid using Flexbox */
.media-grid {
  display: flex;          /* FLEXBOX */
  flex-wrap: wrap;        /* Multiple rows */
}

/* Default:Narrow item */
.media-item {
  margin: 0;
  flex: 0 0 33.33%;
}

/* Wide item */
.media-item.wide {
  flex-basis: 66.67%;
}

/* Making All media having the same height and filling their box */
.media-item img,
.media-item video {
  width: 100%;
  height: 260px;          /* Same Height for all */
  object-fit: cover;      /* Fill the box */
  display: block;
  border: none;
}
