/* Base page style */
body {
  background-color: #cfcfcf;
  margin: 0;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif; /* improved font */
}

/* Main box for all content */
.content-box {
  background: white;
  max-width: 550px;
  margin: 30px auto;
  padding: 40px;
  border-radius: 20px;
}

/* Main big title */
/* 1st big heading style */
.main-title {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: 900;                 
  text-align: center;
  color: #249700;                  
  margin: 5px 0 0 0;
  letter-spacing: 1px;
}

/* Sub-title */
/* 2nd heading style */
.sub-title {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 38px;
  font-weight: 900;                 
  text-align: center;
  color: #249700;
  margin: 10px 0 35px;
}

/* Section headings */
/* 3rd heading style */
.section-title {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 42px;
  font-weight: 900;               
  text-align: center;
  color: #249700;
  margin: 50px 0 25px;
}

/* Paragraphs */
/* Normal text style */
p {
  font-size: 17px;
  line-height: 1.45;
  margin-bottom: 18px;
}

/* Green info box */
.info-box {
  background-color: #249700;
  padding: 20px;
  border-radius: 25px;
  margin: 35px 0;
  color: white;
}

/* Small heading inside info box */
.fact-title {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 900;
  margin: 0 0 10px;
}
